body {
  background-color: #57C4B9; }

#main {
  background-color: #57C4B9;
  background-size: cover;
  min-height: 1000px;
  height: 1000px;
  margin: 0 auto;
  max-width: 1013px; }
  #main .box {
    margin-top: 13px;
    background-color: #fafafa;
    width: 100%;
    min-height: 1000px;
    padding: 30px; }
    #main .box img {
      display: block;
      max-width: 50%;
      margin: 0 auto;
      padding-bottom: 15px; }
