header {
  background-color: #fafafa;
  font-family: "Rounded Mplus 1c";
  box-sizing: border-box;
  margin: 0;
  text-align: center; }
  header a {
    color: #EE5B5B;
    display: inline-block;
    padding: 5px;
    font-weight: bold;
    font-size: 30px; }
  header a:hover {
    color: #EE5B5B; }
  header a:link {
    text-decoration: none; }
